
<div class="outer-wrapper">
	<h1>Prallax images in content</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quo quibusdam cumque dicta odio eveniet optio, porro perferendis necessitatibus ratione a possimus sint illo, temporibus doloribus? Ab odio maiores fuga totam vero nesciunt quae perspiciatis aliquam perferendis praesentium cupiditate quidem dolore amet magni alias voluptates, dolorum corrupti laboriosam sit doloribus omnis? Reprehenderit quo quae rem cum sed, quidem quod aperiam eveniet aliquam placeat facere delectus corporis iusto possimus, distinctio suscipit alias dolor error rerum commodi culpa molestiae, similique natus. Voluptatibus vitae repellendus saepe, eos consequuntur iste tempore aliquam error, fuga minus a delectus distinctio aspernatur beatae corrupti veritatis amet ratione.</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, possimus accusantium. Ab ipsum eius soluta voluptate tempora exercitationem, saepe hic, assumenda molestias suscipit quo voluptatum cupiditate! Dicta laborum fugit praesentium harum numquam. Libero repellendus debitis nemo quo saepe eum consequuntur dignissimos. Ea iure impedit cum pariatur veritatis esse, voluptatibus eos tempora quos! Fugiat maxime facilis explicabo officia, quaerat quisquam distinctio vero molestiae ex laudantium nostrum sit animi. Sapiente ratione dolorem tempore labore magni, quam nam?</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quo quibusdam cumque dicta odio eveniet optio, porro perferendis necessitatibus ratione a possimus sint illo, temporibus doloribus? Ab odio maiores fuga totam vero nesciunt quae perspiciatis aliquam perferendis praesentium cupiditate quidem dolore amet magni alias voluptates, dolorum corrupti laboriosam sit doloribus omnis? Reprehenderit quo quae rem cum sed, quidem quod aperiam eveniet aliquam placeat facere delectus corporis iusto possimus, distinctio suscipit alias dolor error rerum commodi culpa molestiae, similique natus. Voluptatibus vitae repellendus saepe, eos consequuntur iste tempore aliquam error, fuga minus a delectus distinctio aspernatur beatae corrupti veritatis amet ratione.</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, possimus accusantium. Ab ipsum eius soluta voluptate tempora exercitationem, saepe hic, assumenda molestias suscipit quo voluptatum cupiditate! Dicta laborum fugit praesentium harum numquam. Libero repellendus debitis nemo quo saepe eum consequuntur dignissimos. Ea iure impedit cum pariatur veritatis esse, voluptatibus eos tempora quos! Fugiat maxime facilis explicabo officia, quaerat quisquam distinctio vero molestiae ex laudantium nostrum sit animi. Sapiente ratione dolorem tempore labore magni, quam nam?</p>


	<div class="outer">
		<div class="wrapper">
			<img src="https://www.unsplash.it/450" class="two" alt="Image Two">
			<img src="https://www.unsplash.it/300" class="one" alt="Image One">
			<img src="https://www.unsplash.it/200" class="three" alt="Image three">
		</div>
	</div>


	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quo quibusdam cumque dicta odio eveniet optio, porro perferendis necessitatibus ratione a possimus sint illo, temporibus doloribus? Ab odio maiores fuga totam vero nesciunt quae perspiciatis aliquam perferendis praesentium cupiditate quidem dolore amet magni alias voluptates, dolorum corrupti laboriosam sit doloribus omnis? Reprehenderit quo quae rem cum sed, quidem quod aperiam eveniet aliquam placeat facere delectus corporis iusto possimus, distinctio suscipit alias dolor error rerum commodi culpa molestiae, similique natus. Voluptatibus vitae repellendus saepe, eos consequuntur iste tempore aliquam error, fuga minus a delectus distinctio aspernatur beatae corrupti veritatis amet ratione.</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, possimus accusantium. Ab ipsum eius soluta voluptate tempora exercitationem, saepe hic, assumenda molestias suscipit quo voluptatum cupiditate! Dicta laborum fugit praesentium harum numquam. Libero repellendus debitis nemo quo saepe eum consequuntur dignissimos. Ea iure impedit cum pariatur veritatis esse, voluptatibus eos tempora quos! Fugiat maxime facilis explicabo officia, quaerat quisquam distinctio vero molestiae ex laudantium nostrum sit animi. Sapiente ratione dolorem tempore labore magni, quam nam?</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quo quibusdam cumque dicta odio eveniet optio, porro perferendis necessitatibus ratione a possimus sint illo, temporibus doloribus? Ab odio maiores fuga totam vero nesciunt quae perspiciatis aliquam perferendis praesentium cupiditate quidem dolore amet magni alias voluptates, dolorum corrupti laboriosam sit doloribus omnis? Reprehenderit quo quae rem cum sed, quidem quod aperiam eveniet aliquam placeat facere delectus corporis iusto possimus, distinctio suscipit alias dolor error rerum commodi culpa molestiae, similique natus. Voluptatibus vitae repellendus saepe, eos consequuntur iste tempore aliquam error, fuga minus a delectus distinctio aspernatur beatae corrupti veritatis amet ratione.</p>
</div>


	<div class="outer">
		<div class="wrapper">
			<img src="https://www.unsplash.it/450" class="two" alt="Image Two">
			<img src="https://www.unsplash.it/300" class="one" alt="Image One">
			<img src="https://www.unsplash.it/200" class="three" alt="Image three">
		</div>
	</div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap');

:root {
	--h1-size: clamp(1.75rem, 5vw + 1rem, 4.25rem);
	--bg-color: hsl(31 60% 89%);
	--txt-color: hsl(31 70% 10%)
}

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: "Karla";
	line-height: 1.6
}

h1 {
	font-size: var(--h1-size);
	line-height: 1em;
	position: relative;
	letter-spacing: -.0125em;
}

h1::before {
	--bg-color: hsl(31 60% 19% / .12);
	content: '';
	position: absolute;
	top: 20%; left: 1em;
	transform: translate(-50%, -50%);
	width: 4em;
	height: 10rem;
	background: var(--bg-color);
	z-index: -1;
	mix-blend-mode: hard-light;
}

body {
	margin: 0;
	padding: 0;
	background: var(--bg-color);
	color: var(--txt-color);
}
body

.outer-wrapper {
	width: min(90%, 45rem);
	margin: 5rem auto;
}

.outer {
	height: 100%;
	display: grid;
	place-items: center;
	padding-block-start: 4rem;
}

.wrapper {
	display: grid;
	grid-template-columns: auto 120px 1fr 120px auto;
	grid-template-rows: auto 120px auto;
}

img {
	box-shadow:
  0 0.7px 2.2px rgba(0, 0, 0, 0.017),
  0 1.8px 5.3px rgba(0, 0, 0, 0.024),
  0 3.4px 10px rgba(0, 0, 0, 0.03),
  0 6px 17.9px rgba(0, 0, 0, 0.036),
  0 11.3px 33.4px rgba(0, 0, 0, 0.043),
  0 27px 80px rgba(0, 0, 0, 0.06)
;
	position: relative;
}

.one {
	grid-row: 2 / 4;
	grid-column: 1 / 3;
}
.two {
	grid-row: 1 / 3;
	grid-column: 2 / 5;
}
.three {
	grid-row: 2 / 4;
	grid-column: 4 / 6;
}
    
    </style>

    <script>
      // Intersection Observer
window.addEventListener("load", (event) => {
	createObserver();
}, false);

function createObserver() {
  const options = {
		rootMargin: "-100px",
		threshold: 0
	};
	
	const observer = new IntersectionObserver(intersectionCallback, options);
	
	// Alle Elemente mit der Klasse `.wrapper` druchiterieren
	for (let wrapper of document.querySelectorAll('.wrapper')) {
		// Jeden wrapper beobachten
		observer.observe(wrapper);
	}
}

// Cache um bei erneuten Aufrufen des `intersectionCallback`s immer auf die selbe
// Handler-Funktion zurück greifen zu können.
const parallaxHandlers = new Map();

function intersectionCallback(entries, observer) {
	// Da wir potenziell mehrere Wrapper observen, müssen wir über alle aktuellen
	// treffer iterieren
	entries.forEach(entry => {
		// Wenn die Intersection beginnt ist `entry.isIntersecting` auf `true` gesetzt.
		// In diesem Moment wollen wir den Scroll listener initialisieren und uns merken.
		// Sollte das Callback mehrmals aufgerufen werden da noch eine weitere Intersection
		// beginnt, haben wir bereits einen Scroll-Listener und wollen keinen zweiten.
		if (entry.isIntersecting && !parallaxHandlers.has(entry.target)) {
				// Hier holen wir uns dann die Bilder unterhalb des aktuellen wrappers
				const imgOne = entry.target.querySelector(".one");
				const imgTwo = entry.target.querySelector(".two");
				const imgThree = entry.target.querySelector(".three");
				
				const parallaxHandler = () => {
					const value = window.scrollY;
						console.log('scroll');
					// Wir haben hier noch Zugriff auf die Bilder außerhalb des
					// Funktions-Scopes. Somit müssen wir die nicht bei jedem scroll
					// event neu ermitteln
					imgOne.style.transform = `translateY(${ value * -0.07 }px)`;
					imgTwo.style.transform = `translateY(${ value * 0.015 }px)`;
					imgThree.style.transform = `translateY(${ value * -0.015 }px)`;
				}
				
				// Handler an das Scroll event Hängen
				window.addEventListener('scroll', parallaxHandler);
			  // und merken um ihn später wieder entfernen zu können
				parallaxHandlers.set(entry.target, parallaxHandler);
		}
		
		// Wenn ein wrapper die Intersektion verlässt ist `isIntersecting` auf `false``
    // gesetzt. Sofern überhaput ein Handler existiert, wollen wir den entfernen.
		if (!entry.isIntersecting && parallaxHandlers.has(entry.target)) {
			// Event listener für den entsprechenden Handler entfernen
			window.removeEventListener('scroll', parallaxHandlers.get(entry.target));
			// Handler aus dem Cache löschen
			parallaxHandlers.delete(entry.target);
		}
	});
} 
    </script>