<form method="post" action="{{ path('reservationmahassen_delete', {'id': reservationmahassen.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette réservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservationmahassen.id) }}">
    <button class="btn btn-secondary">Annuler</button>
</form>
<style>

button{
   
    width:200px;
    font-size:10px;
    margin-bottom:5px;
}

</style>