
  .bg_move {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: repeating-radial-gradient(circle at 100% 100%, rgba(255, 190, 11, 0.5) 4%, rgba(255, 190, 11, 0.5) 8%, rgba(251, 86, 7, 0.5) 8%, rgba(251, 86, 7, 0.5) 12%, rgba(255, 0, 110, 0.5) 12%, rgba(255, 0, 110, 0.5) 16%, rgba(131, 56, 236, 0.5) 16%, rgba(131, 56, 236, 0.8) 20%, rgba(58, 134, 255, 0.5) 20%, rgba(58, 134, 255, 0.5) 24%), repeating-radial-gradient(circle at 0% 100%, rgba(255, 190, 11, 0.7) 4%, rgba(255, 190, 11, 0.9) 8%, rgba(251, 86, 7, 0.7) 8%, rgba(251, 86, 7, 0.9) 12%, rgba(255, 0, 110, 0.7) 12%, rgba(255, 0, 110, 0.9) 16%, rgba(131, 56, 236, 0.8) 16%, rgba(131, 56, 236, 0.8) 20%, rgba(58, 134, 255, 0.8) 20%, rgba(58, 134, 255, 0.8) 24%);
    background-size: 250px 250px;
    background-position: 0 0;
    -webkit-animation: stripes 3s linear infinite;
            animation: stripes 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .bg_move h7 {
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
  }
  
  
  
  @media only screen and (max-width: 900px) {
    html {
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    html {
      font-size: 6px;
    }
  }
  
  @-webkit-keyframes stripes {
    100% {
      background-position: 250px 0, 250px 0, 100px 0;
    }
  }
  
  @keyframes stripes {
    100% {
      background-position: 250px 0, 250px 0, 100px 0;
    }
  }

.navbar{
padding: 20px;
background-color: #fdfbfb;
width: 100vw;
height:80px;
box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
padding: 0px 70px;


}
.nav-link{
color: rgb(14, 13, 13) !important;
font-size: 15px;

}
.nav-link:hover{
color: #e9972c !important;

}

.navbar-links {
list-style-type: none;
display: flex;
}

.navbar-links li a {
display: block;
text-decoration: none;
color: rgb(8, 6, 6);
padding: 7px 20px;
transition: 0.4s all;

}

.navbar-links li.navbar-dropdown {
position: relative;
}

.navbar-links li.navbar-dropdown:hover .dropdown {
visibility: visible;
opacity: 1;
transform: translateY(0px);
}

.navbar-links li.navbar-dropdown .dropdown {
visibility: hidden;
opacity: 0;
position: absolute;
top: 100%;
transform: translateY(50px);
left: 0;
width: 200px;
background-color: #fff;
box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
z-index: 111;
transition: 0.4s all;
text-transform: uppercase
}
.icon-bar{
  background: darkorange;
}

.navbar-links li.navbar-dropdown .dropdown a {

padding-bottom: 10px;
font-weight: 400;
font-size: large;
font-size: 15px;
}

.navbar-dropdown .dropdown a:hover {
padding-left: 30px;
}

.navbar-links li a:hover {
color:  #e9972c;
}


 #maCarte{
     height: 987px;
     border-radius: 10px;
     border: 2px solid rgb(14, 13, 13);
     margin:41px 0 0 10px;
     box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3);
 }

   
 a,
 a:hover,
 a:focus,
 a:active {
     text-decoration: none;
     outline: none;
 }
 
 a,
 a:active,
 a:focus {
     color: rgb(202, 136, 38);
     text-decoration: none;
     transition-timing-function: ease-in-out;
     -ms-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
     -webkit-transition-timing-function: ease-in-out;
     -o-transition-timing-function: ease-in-out;
     transition-duration: .2s;
     -ms-transition-duration: .2s;
     -moz-transition-duration: .2s;
     -webkit-transition-duration: .2s;
     -o-transition-duration: .2s;
 }
 
 ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 img {
 max-width: 100%;
 height: auto;
 }
 section {
     padding: 60px 0;
    /* min-height: 100vh;*/
 }
 
 
 
 .main-footer{
 position:relative;
 padding:110px 0px 0px;
 background-color: #111110;
 background-repeat:repeat-x;
 background-position:right bottom;
 }
 
 .main-footer .footer-widget{
 position:relative;
 margin-bottom:40px;
 }
 
 .main-footer .widgets-section{
 position:relative;
 padding-bottom:60px;
 }
 
 .main-footer .footer-widget h2{
 position:relative;
 font-size:22px;
 font-weight:600;
 color:#ffffff;
 line-height:1.2em;
 margin-bottom:30px;
 margin-top:25px;
 text-transform:capitalize;
 }
 
 .main-footer .about-widget{
 position:relative;
 }
 
 .main-footer .about-widget .logo {
 position: relative;
 margin-bottom: 15px;
 width: 210px;
 }
 .main-footer .about-widget .text{
 position:relative;
 }
 
 .main-footer .about-widget .text p{
 position:relative;
 color:#8a8d91;
 font-size:15px;
 line-height:1.7em;
 margin-bottom:20px;
 }
 
 .main-footer .about-widget .text p:last-child{
 margin-bottom:0px;
 }
 
 /* Footer List */
 
 .main-footer .footer-list{
 position:relative;
 }
 
 .main-footer .footer-list li{
 position:relative;
 margin-bottom:17px;
 }
 
 .main-footer .footer-list li a{
 position:relative;
 color:#8a8d91;
 font-size:15px;
 padding-left:15px;
 -webkit-transition:all 300ms ease;
 -ms-transition:all 300ms ease;
 -o-transition:all 300ms ease;
 -moz-transition:all 300ms ease;
 transition:all 300ms ease;
 }
 
 .main-footer .footer-list li a:hover{
 text-decoration:underline;
 color:#ff6666;
 }
 
 .main-footer .footer-list li a:before{
 position:absolute;
 content:'\f105';
 left:0px;
 top:0px;
 color:#8a8d91;
 font-weight:800;
 font-family: 'Font Awesome 5 Free';
 }
 
 
 /* Info List */
 
 .main-footer .info-list{
 position:relative;
 }
 
 .main-footer .info-list li{
 position:relative;
 color:#8a8d91;
 font-size:15px;
 line-height:1.8em;
 margin-bottom:12px;
 }
 
 .main-footer .info-widget .social-links{
 position:relative;
 float:left;
 padding:15px 0px;
 }
 
 .main-footer .info-widget .social-links li{
 position:relative;
 margin-right:8px;
 display:inline-block;
 }
 
 .main-footer .info-widget .social-links li:last-child{
 margin-right:0px;
 }
 
 .main-footer .info-widget .social-links li a{
 position:relative;
 color: #8a8d91;
 width:50px;
 height:50px;
 line-height:50px;
 text-align:center;
 border-radius:50%;
 display:inline-block;
 -webkit-transition:all 300ms ease;
 -moz-transition:all 300ms ease;
 -ms-transition:all 300ms ease;
 -o-transition:all 300ms ease;
 transition:all 300ms ease;
 }
 
 .main-footer .info-widget .social-links li.google a{
 background-color:#dd4b39;
 }
 
 .main-footer .info-widget .social-links li.facebook a{
 background-color:#4a6fbe;
 }
 
 .main-footer .info-widget .social-links li.twitter a{
 background-color:#55acee;
 }
 
 .main-footer .info-widget .social-links li.instagram a{
 background-color:#ea4c89;
 }
 
 .main-footer .info-widget .social-links li.vimeo a{
 background-color:#1ab7ea;
 }
 
 .main-footer .footer-bottom{
 position:relative;
 padding:20px 0px;
 border-top:1px solid #e5e5e5;
 }
 
 .main-footer .footer-bottom .footer-nav{
 position:relative;
 text-align:right;
 }
 
 .main-footer .footer-bottom .footer-nav li{
 position:relative;
 padding-right:10px;
 margin-right:10px;
 line-height:1.1em;
 display:inline-block;
 border-right:1px solid #eff1f5;
 }
 
 .main-footer .footer-bottom .footer-nav li:last-child{
 padding-right:0px;
 margin-right:0px;
 border-right:none;
 }
 
 .main-footer .footer-bottom .footer-nav li a{
 position:relative;
 color:#f2f4f7;
 font-size:20px;
 -webkit-transition:all 300ms ease;
 -moz-transition:all 300ms ease;
 -ms-transition:all 300ms ease;
 -o-transition:all 300ms ease;
 transition:all 300ms ease;
 }
 
 .main-footer .footer-bottom .footer-nav li a:hover{
 color:#ff6666;
 text-decoration:underline;
 }
 .drop{
    display:block;
    animation:fadeInRight .3s ease;
    -webkit-animation:fadeInRight .3s ease;
}


@keyframes fadeInRight{
0%{
opacity:0;
transform:translate3d(100%,0,0)
}
100%{
opacity:1;
transform:none
}
}