
{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}

<div class="container">
<section class="form">

     <div class="row">



        <div class="col"> </div>
          <div class="col-6" >

          {{form_start(reservationForm)}}
        


         <div class="mb-3">
            
            {{form_row(reservationForm.servicelilia,{'attr':{'class':'form-control'}})}}
        </div>


        <div class="mb-3">
            
            {{form_row(reservationForm.nom_user,{'attr':{'class':'form-control'}})}}
        </div>
        {{form_end(reservationForm)}}

          </div>
          <div class="col"></div>
        </div>

    </div>

{% endblock %}

