 
 <div class="content">

  <img  src="{{ asset('css/slide/yi-394.jpg') }}" alt="image" width="100%">
  <div class="centered">
    <div class="row">
    <div class=" col-md-10 col-sm-12">
    <div class="text-block">Bienvenu chez CLUB BEAUTE<br>
 Quelques clics suffisent. De plus,vous pourrez prendre votre rendez-vous quand vous le souhaitez, où que vous soyez</div>
  </div>
</div>
</div>
</div>

<style>
  
  .content {
  position: relative;
  text-align: center;
  
}

.centered {
  position: absolute;
  top: 50%;
  left:37%;
  padding:40px;
  transform: translate(-60%, -50%);
  
}

.text-block {
  background-color: #ee9da1;
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  opacity: 0.4;
  font-size: 30px;
  padding:40px;
  
}
</style>