

<div class="banner">
  <div class="thumbnail">
    <img  src="{{ asset('css/slide/yi-394.jpg') }}" alt="image" >
  </div>
  <h6 class="title">BIENVENU CHEZ CLUB BEAUTE<br>
 Quelques clics suffisent. De plus,<br> vous pourrez prendre votre rendez-vous <br>quand vous le souhaitez, où que vous soyez.</h6>
</div>
<style>
   img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  color:  #ee9da1;
  position: relative;
  margin-top: 400px;
  text-transform: uppercase;
  font-size: 25px;
  text-shadow: 20px 0 20px #ee6da1;
}



</style>
