 <div class="float-sm">
            <div class="fl-fl float-fb">
              <i class="fa fa-facebook"></i>
              <a href="" target="_blank"> Like us!</a>
            </div>
            <div class="fl-fl float-tw">
              <i class="fa fa-twitter"></i>
              <a href="" target="_blank">Follow us!</a>
            </div>
            <div class="fl-fl float-gp">
              <i class="fa fa-google-plus"></i>
              <a href="" target="_blank">Recommend us!</a>
            </div>
            <div class="fl-fl float-rs">
              <i class="fa fa-rss"></i>
              <a href="" target="_blank">Follow via RSS</a>
            </div>
            <div class="fl-fl float-ig">
              <i class="fa fa-instagram"></i>
              <a href="" target="_blank">Follow us!</a>
            </div>
            <div class="fl-fl float-pn">
              <i class="fa fa-pinterest"></i>
              <a href="" target="_blank">Follow us!</a>
            </div>
          </div>
          <!-- Floating Social Media bar Ends -->
        <style>

            .fl-fl {
                background: #000000;
                text-transform: uppercase;
                letter-spacing: 3px;
                padding: 4px;
                width: 160px;
                position: fixed;
                right: -120px;
                z-index: 1000;
                font: normal normal 10px Arial;
                -webkit-transition: all .25s ease;
                -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                -o-transition: all .25s ease;
                transition: all .25s ease;
              }
              
              .fa {
                font-size: 20px;
                color: #fff;
                padding: 10px 0;
                width: 40px;
                margin-left: 8px;
              }
              
              .fl-fl:hover {
                right: 0;
              }
              
              .fl-fl a {
                color: #fff !important;
                text-decoration: none;
                text-align: center;
                line-height: 43px!important;
                vertical-align: top!important;
              }
              
              .float-fb {
                top: 260px;
              }
              
              .float-tw {
                top: 315px;
              }
              
              .float-gp {
                top: 370px;
              }
              
              .float-rs {
                top: 425px;
              }
              
              .float-ig {
                top: 480px;
              }
              
              .float-pn {
                top: 535px;
              }
        </style>