{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="jumbotron" >
    <h1 class="display-4"style="color:#fff;">Lilia Ben Aziza</h1>
    <p class="lead"style="font-size:25px;">Bienvenue dans l'interface d'administration de votre application !</p>
</div>
<style>

  body{
    background-image: url('css/logo/logo.png');
  background-size: cover;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);    
  }
  .jumbotron{
    
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('css/slide/calendar1.jpg');
  background-size: cover;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);  
  }
  
</style>
{% endblock %}