{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="jumbotron" >
    <h1 class="display-4">Administration</h1>
    <p class="lead">Bienvenue dans l'interface d'administration de votre application !</p>
</div>
<style>
  body{
    background-color: rgb(197, 240, 236);   
  }
  .jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(233, 241, 241); 
  }
</style>
{% endblock %}