{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
     
<header >
  <center><h1 style="font-family: 'Times New Roman', Times, serif;padding-top:50px;
  color: white;
  font-size:70px;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
">Découvrez Nos Professionnels</h1></center>
</header>
<section>

</section>



{% endblock %}
