{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="jumbotron" >
    <h1 class="display-4">Fleur De Lys</h1>
    <p class="lead">Bienvenue dans l'interface d'administration de votre application !</p>
</div>
<style>

  body{
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);   
  }
  .jumbotron{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e); 
  }
  
</style>
{% endblock %}