{% extends 'base.html.twig' %}

{% block title %}New Calendarfleur{% endblock %}

{% block body %}
    <h1>Create new Calendarfleur</h1>

    {{ include('calendarfleur/_form.html.twig') }}

    <a href="{{ path('calendarfleur_index') }}">back to list</a>
{% endblock %}
